/* Your code here */
* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    background: linear-gradient(180deg, #423184 0%, #231a38 100%) fixed;
}

button {
    background: none;
    border: none;
}

.fas {
    color: white;
}

.hide-button {
    display: none;
}

.bar {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 9rem;
    width: 100vw;
    background-color: #100b20;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.bar-left {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: red;
    height: 100%;
    order: 0;
}

.bar-song-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.bar-title {
    width: 100%;
    height: 33%;
    background-color: blue;
}

.bar-artist {
    width: 100%;
    height: 33%;
    background-color: aqua;
}

.bar-album {
    width: 100%;
    height: 33%;
    background-color: green;
}

.song-details {
    font-size: 2vw;
    display: inline;
    margin-left: 3rem;
    color: white;
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
}

.bar-middle {
    order: 1;
    flex-basis: 40%;
    height: 100%;
}

.bar-right {
    order: 2;
    flex-basis: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
}

.volume-slider {
    background-color: brown;
    height: 5px;
    width: 60%;
    margin-left: 20px;
}

.bar-buttons {
    display: inline-flex;
    background-color: wheat;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.control-button {
    height: 2rem;
    width: 2rem;
    margin: 0 1rem;
}

.bar-timebar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 5rem;
    width: 100%;
}

.progressbar {
    background-color: brown;
    height: 5px;
    width: 60%;
}

.time-mark {
    font-family: "Rubik";
    margin: 0 5px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: violet;
    width: 23%;
    min-width: 9rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar-item {
    flex-basis: 7rem;
    font-family: "Rubik";
    font-size: 4vw;
    margin-left: 2rem;
    color: white;
}

.sidebar-album-cover {
    width: 100%;
    bottom: 9rem;
    position: absolute;
    bottom: 9rem;
}

.sidebar-pic {
    width: 100%;
}

/* START MY SONGS SECTION */
.my-songs {
    background-color: darkslategray;
    height: 100vh;
    width: 77%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3rem;
}

.page-title {
    font-size: 5vw;
    margin-left: 2.8vw;
    font-family: "Rubik";
    font-weight: 100;

    color: white;
}

#songs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}

.song-data-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding: 1rem 0;
    font-family: "Rubik";
    color: white;
}

.album-img-container {
    height: 100%;
    flex-basis: 15%;
}

.album-img {
    height: 100%;
}

.song-title {
    flex-basis: 25%;
}

.song-album {
    flex-basis: 25%;
}

.song-artist {
    flex-basis: 25%;
}

.song-duration {
    text-align: end;
    flex-basis: 10%;
}

.data-cell {
    padding: 0 0.9rem;
}
